<!DOCTYPE html>
<html>
<head>
    <title>Mouse Click Quiz</title>
</head>
<body>
    <h1>Mouse Click Quiz</h1>
    <p id="scores">Scores will appear here</p>
    <button id="start_round_btn" onclick="startRound()">Start New Round</button>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script type="text/javascript">
        const socket = io.connect('http://' + document.domain + ':' + location.port);

        function startRound() {
            socket.emit('start_new_round');
        }

        socket.on('update_scores', function(data) {
            const scoresElement = document.getElementById('scores');
            scoresElement.innerHTML = '';

            scoresElement.innerHTML += '<h2>Functions:</h2>';
            scoresElement.innerHTML += '<p>\'Q\' - Quit the game.<br>\'R\' - Reset the game.</p>';

            scoresElement.innerHTML += '<h2>Scoreboard (Points):</h2>';
            for (const teamName in data.team_scores) {
                scoresElement.innerHTML += teamName + ': ' + data.team_scores[teamName] + ' points<br>';
            }

            scoresElement.innerHTML += '<h2>Last team that clicked:</h2>';
            if (data.click_registered && data.last_team) {
                scoresElement.innerHTML += data.last_team + '<br>';
            }

            if (data.quiz_round === 1) {
                if (data.click_registered) {
                    scoresElement.innerHTML += '<br><button onclick="startRound()">Press \'Enter\' to start a new round.</button>';
                } else {
                    scoresElement.innerHTML += '<br>Round in progress. Teams can click their mice.<br>';
                }
            }
        });
    </script>
</body>
</html>
